"""Sphinx configuration."""

project = "{{friendly_name}}"
author = "{{author}}"
copyright = "{{copyright_year}}, {{author}}"
extensions = [
    "sphinx.ext.autodoc",
    "sphinx.ext.napoleon",
    "sphinx_click",
    "myst_parser",
    "sphinxcontrib.rsvgconverter",
]
autodoc_typehints = "description"
html_theme = "shibuya"
